{% extends "inedx.html" %}

{% block content %}
<form action='/availability' method='post'>


    <p>Email:</p>
    <p><input type="text" name="email"/></p>


    <p>**Sunday**:</p>
    <p>Start time frame:</p>
    <p><input type="text" name="Sunday_start"/></p>
    <p>End time frame:</p>
    <p><input type="text" name="Sunday_end"/></p>
    <p>Available: <input type="checkbox" name="Sunday_available" value=True></p>/></p>



    <p>**Monday**:</p>
    <p>Start time frame:</p>
    <p><input type="text" name="Monday_start"/></p>
    <p>End time frame:</p>
    <p><input type="text" name="Monday_end"/></p>
    <p>Available: <input type="checkbox" name="Monday_available" value=True></p>/></p>



    <p>**Tuesday**:</p>
    <p>Start time frame:</p>
    <p><input type="text" name="Tuesday_start"/></p>
    <p>End time frame:</p>
    <p><input type="text" name="Tuesday_end"/></p>
    <p>Available: <input type="checkbox" name="Tuesday_available" value=True></p> /></p>



    <p>**Wednesday**:</p>
    <p>Start time frame:</p>
    <p><input type="text" name="Wednesday_start"/></p>
    <p>End time frame:</p>
    <p><input type="text" name="Wednesday_end"/></p>
    <p>Available: <input type="checkbox" name="Wednesday_available" value=True></p>/></p>



    <p>**Thursday**:</p>
    <p>Start time frame:</p>
    <p><input type="text" name="Thursday_start"/></p>
    <p>End time frame:</p>
    <p><input type="text" name="Thursday_end"/></p>
    <p>Available: <input type="checkbox" name="Thursday_available" value=True></p>/></p>



    <p>**Friday**:</p>
    <p>Start time frame:</p>
    <p><input type="text" name="Friday_start"/></p>
    <p>End time frame:</p>
    <p><input type="text" name="Friday"/></p>
    <p>Available: <input type="checkbox" name="FRiday_available" value=True></p>/></p>



    <p>**Saturday**:</p>
    <p>Start time frame:</p>
    <p><input type="text" name="Saturday_start"/></p>
    <p>End time frame:</p>
    <p><input type="text" name="Saturday_end"/></p>
    <p>Available: <input type="checkbox" name="Saturday_available" value=True></p>/></p>



    <p><input type="submit" value="Submit"/></p>


</form>
{% endblock %} 


