{% extends "inedx.html" %}

{% block content %}
<form action='/request' method='post'>
    <p>Title:</p>
    <p><input type="text" name="Title"/></p>

    <p>Description:</p>
    <p><input type="text box" name="Description"/></p>

    <p>Location:</p>
    <p><input type="text box" name="Location"/></p>

    <p>When:</p>
    <select id="exampleDropdown" name="When">
        <option value="This weeek">This week</option>
        <option value="Next week">Next week</option>
        <option value="This month">This month</option>
        <option value="Next month">Next month</option>
    </select>

    
    <p>Duration:</p>
    <select id="exampleDropdown" name="Duration">
        <option value="30 min">30 min</option>
        <option value="60 min">60 min</option>
        <option value="90 min">90 min</option>
        <option value="120 min">120 min</option>
    </select>

    <p>Preferred Time Frame:</p>
    <p>Morning <input type="checkbox" name="Morning" value=True/></p>
    <p>Noon <input type="checkbox" name="Noon" value=True/></p>
    <p>Afternoon <input type="checkbox" name="Afternoon" value=True/></p>
    <p>Evening <input type="checkbox" name="Evening" value=True/></p>

    <p>Participants:</p>
    <p><input type="text" name="Participants"/></p>

    <p><input type="submit" value="Submit"/></p>
</form>
{% endblock %}
